<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>labb 1 backend</title>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Startsidan</a></li>
            <li><a href="/addcourse">Lägg till kurser</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </header>
    <main>
        <h1>Kurser</h1>

        <% if(courseList.length> 0) { %>
            <% courseList.forEach((course)=> { %>
                <article class="courseList" id="<%= course.id %>">
                    <h2>
                        <%= course.coursename %>
                    </h2>
                    <p>
                        kurs-id: <%= course.coursecode %>
                    </p>
                    <p>
                        Progression: <%= course.progression %>
                    </p>
                    <a href="<%= course.syllabus %>">Länk till kursplan</a>
                </article>
                <% }); %>
                    <% } else { %>
                        <p>Inga kurser finns i listan...</p>
                        <% } %>
    </main>
</body>

</html>